#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 70vh;
  border: 1px solid #000;
}

h1 {
  text-align: center;
}

#login  {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
}

label {
  margin: 5px;
  margin-left: 7px;
  display: block;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
}

#container{
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(200, 200, 211);
  border: ;
}
