.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: center;
}


