.container-header {
  padding: 30px;
  display: flex;
  align-items: center;
  margin: 10px 15%;
  height: 40px;
}

.container-header input {
  border: 1px solid grey;
}

@media (max-width: 960px)
{
  .container-header {
    flex-direction: column-reverse;
    margin-top: 120px;
    padding: 3px;
  }

}
